<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lostAndFind.project.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.lostAndFind.project.model.entity.UserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <id property="roleId" column="roleId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,roleId
    </sql>
</mapper>
